<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303914763943-076j53niv1b4j7jmt417abq9nh358bhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303914763943-076j53niv1b4j7jmt417abq9nh358bhm</string>
	<key>API_KEY</key>
	<string>AIzaSyDoyu-IfMyaG3Dql1ThzJ0jlXYnWh-vgWY</string>
	<key>GCM_SENDER_ID</key>
	<string>303914763943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tikatika.et.user</string>
	<key>PROJECT_ID</key>
	<string>tikatika-e3374</string>
	<key>STORAGE_BUCKET</key>
	<string>tikatika-e3374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303914763943:ios:83fb1e542fafdd97febd82</string>
	<key>DATABASE_URL</key>
	<string>https://tikatika-e3374.firebaseio.com</string>
</dict>
</plist>